* {
    box-sizing: border-box;
  }
  
  body { 
    font-size: 20px;
    color: #081830;
    text-align: center;
    line-height: 1.5;
    background-color: #475E7B;
    font-family: 'Fahkwang', sans-serif;
    color: white;
  }

  
  
  nav {
    padding: 1% 0;
    background-color: #7f7392;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    font-family: 'Lato', sans-serif;
  }
  
 
  #purple-portrait{
    width: 30%;
    height: auto;
    left: 0px;
    right: 0px;
    float: left;
  }
  .short-bio{
    padding: 15px;
    font-size: 30px;
    color: #f5c9a7;
    background-color: rgb(80, 97, 119)
    
  }

  .portrait-photo{
    margin: 15px;
    padding: 5px;
    height: 100%;
  }
  
  header {
    padding: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #FA8185;
  }
  

  .full-bio{
    padding: 20px;
  }

 

  .project{
    padding: 20px;
  }

  .project-desc{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
  }

